<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-asam"
    version="1.0.0">
    <name>Autonomous Single App Mode (iOS)</name>
    <description>Provides API to enable/disable Autonomous Single App Mode on iOS (UIAccessibilityRequestGuidedAccessSession).</description>
    <keywords>asam, guided-access</keywords>
    <repo>https://github.com/mark-tabit/cordova-plugin-asam</repo>

    <!-- JavaScript Module -->
    <js-module name="ASAMHandler" src="www/js/ASAMHandler.js">
        <clobbers target="cordova.plugins.ASAMHandler" />
    </js-module>

    <!-- iOS Platform -->
    <platform name="ios">
        <!-- Objective-C Source Files -->
        <source-file src="src/ios/ASAMHandler.m" />
        <header-file src="src/ios/ASAMHandler.h" />

        <!-- Plugin Feature -->
        <config-file target="config.xml" parent="/*">
            <feature name="ASAMHandler">
                <param name="ios-package" value="ASAMHandler" onload="true" />
            </feature>
        </config-file>
    </platform>

    <!-- Browser Platform (if applicable) -->
    <!-- <platform name="browser">
        <js-module src="src/browser/ASAMHandlerProxy.js" name="ASAMHandlerProxy">
            <runs />
        </js-module>
    </platform> -->
</plugin>
